version: '3'
services:
  db:
    image: postgres:15
    ports:
      - "8001:5432"
    environment:
      POSTGRES_USER: catchpy
      POSTGRES_PASSWORD: catchpy
      POSTGRES_DB: catchpy
  web:
    build: ./test.Dockerfile
    image: hx/catchpy:test
    command: ["./wait-for-it.sh", "db:5432", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      CATCHPY_DOTENV_PATH: "/code/docker_dotenv.env"
    networks:
      default:
      public:
        aliases:
          - catchpy.localhost

networks:
  public:

